.btn-logout {
  background-color: #f87171; /* красный */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #ef4444;
}
